/*Menu*/
div#menu_horizontal {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

div#menu_horizontal ul {
    padding: 0px;
}

div#menu_horizontal ul li {
    display: inline;
    padding: 0 0.5em;
}

.currentsection {
    outline-style: auto;
    outline-color: darkblue;
    background-color: #ffc77a;
}

li a {
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: darkblue;
    padding: 5px;
}

li :hover {
    outline-style: auto;
    outline-color: darkblue;
    color: crimson;
}

/*titre*/
.title {
    display: flex;
    justify-content: center;
}

h1 {
    display: inline;
}

/*content*/
.content {
    display: flex;
    justify-content: center;
}